<%= stylesheet_link_tag "header", :media => "all" %>
<%= javascript_include_tag "header.js" %>
<header class="section-header">
  <div class="wrapper site-header__wrapper">
    <div class="site-header__start">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="globalMenuSp">
        <ul>
          <li><a href="#">Menu1</a></li>
          <li><a href="#">Menu2</a></li>
          <li><a href="#">Menu3</a></li>
          <li><a href="#">Menu4</a></li>
          <li><a href="#">Menu5</a></li>
        </ul>
      </nav>
      <h2 href="#" class="brand">Konkime</h2>
    </div>
    <div class="site-header__end">
      ワンクリックで今日の献立を決める
    </div>
    <div class="site-header__end">
      <ul class="sub-nav">
        <li class=""><a href="#">Services</a></li>
        <li class=""><a href="#">Home</a></li>
        <li class=""><a href="#">About</a></li>
        <li class=""><a href="#">Hire us</a></li>
      </ul>
    </div>
  </div>
</header>
<%# <header class="section yellow">Header</header> %>
